* {
  padding: 0;
  margin: 0;
}
@font-face{
  url(http://fonts.googleapis.com/css?family=Dosis|Great+Vibes);
}
body{
  font: 100% Arial normal, sans-serif;
  background-color: #F8F8F8;
  color: #111;
}
p {
}
#wrapper {
  margin: 0 auto;
}
.innerWrapper {
  margin: 0 auto;
  width: 900px;
}
#header {
  width: 100%;
  background-color: #0C5A81;
  color: #FFF;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}
#header h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  color: #FFF;
  text-shadow: -1px -1px #333;
  padding-bottom: 10px;
}
#header h1 a {
  color: #FFF;
  text-decoration: none;
}
#subHead {
  font-size: 2em;
  width: 100%;
  background-color: #D7E0E5;
  border-bottom: 1px solid #888;
  padding: 5px 0;
  color: #222;
  text-align: center;
}
#content {
  width: 100%;
  padding-top: 15px;
}
/*used to clear floats*/
#leftCol {
  height: 200px;
  width: 425px;
  margin-right: 46px;
  float: left;
  text-align: right;
}
#button { 
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid #D84704;
  box-shadow: 1px 1px 1px #888;
  color: #FFF;
  border-radius: 5px;
background: #cb7240; /* Old browsers */
background: -moz-linear-gradient(top, #cb7240 0%, #d84704 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb7240), color-stop(100%,#d84704)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cb7240 0%,#d84704 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cb7240 0%,#d84704 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cb7240 0%,#d84704 100%); /* IE10+ */
background: linear-gradient(top, #cb7240 0%,#d84704 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb7240', endColorstr='#d84704',GradientType=0 ); /* IE6-9 */
}
#button:active {
background: #d84704; /* Old browsers */
background: -moz-linear-gradient(top, #d84704 0%, #cb7240 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d84704), color-stop(100%,#cb7240)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d84704 0%,#cb7240 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d84704 0%,#cb7240 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d84704 0%,#cb7240 100%); /* IE10+ */
background: linear-gradient(top, #d84704 0%,#cb7240 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d84704', endColorstr='#cb7240',GradientType=0 ); /* IE6-9 */}
#rightCol {
  height: 200px;
  width: 420px;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: #FFF;
  float: left;
}
textarea {
  /*font: inherit;*/
  font: 1em Arial normal, sans-serif;
  width: 420px;
  max-width: 420px;
  height: 200px;
  max-height: 200px;
  border-radius: 5px;
  border: 1px solid #CCC;
}